@import "fonts"
@import "vars"

//header
header
  background: $header-bg
  z-index: 5
  position: fixed
  left: 0
  top: 0
  width: 100%
  .logo
    margin: 0 100px 0 0
  .btn
    height: 60px

.header
  background: transparent

.fixed
  background: $header-bg

.header-top
  padding: 20px 0 15px
  .container
    align-items: center

.header-bottom
  padding: 15px 0
  border-top: 1px solid rgba(255, 255, 255, 0.5)
  position: relative
  z-index: 2
  .container
    align-items: center

.menu
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 20px
  font-weight: 500
  width: 100%
  li
    margin: 0 40px 0 0
    &:last-child
      margin: 0 0 0 auto
    a
      color: #fff
      &:hover
        color: $accent


.links-category
  display: flex
  align-items: center
  &:hover
    color: $accent
  &__icon
    display: flex
    align-items: center
    justify-content: center
    fill: #fff
    width: 20px
    height: 20px
    margin: 0 0 0 20px

.form-search-mobile
  display: none
  z-index: 6

.btn-open-search
  display: none
  align-items: center
  justify-content: center
  border-radius: 50%
  width: 45px
  height: 45px
  border: 1px solid rgba(255, 255, 255, 0.5)
  cursor: pointer
  .svg-icon
    width: 19px
    height: 19px
    fill: #fff

.btn-burger
  display: none
  width: 45px
  height: 45px
  border: 1px solid rgba(255, 255, 255, 0.5)
    radius: 50%
  align-items: center
  justify-content: center
  cursor: pointer
  margin: 0 0 0 20px
  position: relative
  .svg-icon
    width: 19px
    height: 19px
    fill: #fff

.burger-click
  .svg-icon
    display: none
  &:before
    content: ''
    display: flex
    align-items: center
    justify-content: center
    width: 19px
    height: 19px
    background: url("../img/close.svg") no-repeat center
      size: 100%

.form-search
  position: relative
  width: 100%
  max-width: 500px
  margin: 0 auto 0 30px
  &:hover
    input
      background: #fff
      font-weight: bold
      color: #1C1C1C
      &::placeholder
        color: #1C1C1C
    button
      fill: #2B2A29
  input
    height: 60px
    border: 1px solid #fff
      radius: 60px
    padding: 0 10px 0 80px
    background: transparent
    color: #fff
    &::placeholder

      color: #fff
  button
    position: absolute
    top: 50%
    transform: translate(0,-50%)
    left: 40px
    width: 20px
    height: 20px
    background: transparent
    display: flex
    align-items: center
    justify-content: center
    fill: #fff
    z-index: 1

.header-box
  position: relative
  display: flex
  align-items: center
  flex-wrap: wrap
  >*
    position: relative
    z-index: 3

.header-link
  display: flex
  align-items: center
  justify-content: center
  position: relative
  width: 90px
  height: 90px
  margin: 0 30px 0 0
  border: 1px solid rgba(255, 255, 255, 0.5)
    radius: 50%
  fill: #fff
  .svg-icon
    width: 30px
    height: 30px
  &:hover
    border: 4px solid #FFFFFF

.added-product
  &:before
    content: ''
    position: absolute
    left: 50%
    transform: translate(-50%,0)
    background: #FFC608
    width: 30px
    height: 5px
    border-radius: 20px
    bottom: 15px


.select
  width: 120px
  height: 40px
  border: 1px solid rgba(255, 255, 255, 0.5)
    radius: 60px
  background: url("../img/arrow-bottom.svg") no-repeat calc(100% - 15px) center
    size: 15px
  appearance: none
  padding: 0 15px
  color: #fff
  font-size: 20px
  font-weight: 500
  text-transform: uppercase

.language-wrapper
  display: flex
  flex-direction: column
  .select
    margin: 0 0 10px
    &:last-child
      margin: 0

.links-prev
  display: flex
  align-items: center
  color: #fff
  font-size: 24px
  font-weight: bold
  margin: 0 0 30px
  &__icon
    display: flex
    align-items: center
    justify-content: center
    margin: 0 20px 0 0
    width: 45px
    height: 45px
    border: 1px solid rgba(255, 255, 255, 0.5)
      radius: 50%
    .svg-icon
      width: 13px
      height: 19px
      fill: #fff
  &:hover
    border-color: $accent
    color: $accent
    .links-prev__icon
      .svg-icon
        fill: $accent