@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1620px)
  .col-5
    width: 25%

  .modal-body .col-5
    width: 20%

  .modal-question .product-wrapper__info
    max-width: 500px

@media only screen and (max-width: 1580px)
  header .logo
    margin: 0 30px 0 0

  .form-search
    max-width: 400px

  .payment li
    margin: 0 20px 0 0
    height: 35px

  .catalog-content
    .product-card__body
      padding: 10px 10px 20px

  .product-card-row .product-card__body
    padding: 0 0 0 30px

  .product-wrapper h1
    font-size: 50px

  .comments-product .tabs__caption li
    margin-right: 0
    font-size: 20px
    width: 140px

  .btn-question
    left: 10px

  .product-wrapper__bottom .availability
    font-size: 30px

  .product-wrapper-two
    margin: -70px 0 0

@media only screen and (max-width: 1450px)
  .footer-menu, .footer-menu .btn
    font-size: 16px

  .dropdown-box
    width: 410px

@media only screen and (max-width: 1420px)
  .logo
    font-size: 40px

  .header-link
    margin: 0 20px 0 0
    width: 70px
    height: 70px

    .svg-icon
      width: 25px
      height: 25px

  .select
    font-size: 16px
    height: 35px

  .menu li
    margin: 0 20px 0 0

  .form-search
    max-width: 350px


  .footer-menu li
    padding: 5px

  .form-basket-products
    max-width: 550px

  .form-basket-payments
    width: calc(100% - 550px)

  .list-pay li
    height: 30px

  .payment-box
    padding: 30px 20px
    min-height: auto

  .col-4
    width: 33.3%

  #modalQuestion3 .btn-next-modal, .btn-next-modal
    margin: 30px 0 0 auto

  .product-wrapper__bottom .btn.btn-report:last-child
    margin: 20px 0 0

  .form-basket__total .btn
    max-width: none
    width: fit-content

  .form-basket__total .total-sum
    font-size: 24px

@media only screen and (max-width: 1340px)
  .footer-bottom
    padding: 20px 0 30px

  .payment
    justify-content: center
    li
      margin: 0 15px 0 0
      height: 30px

  .col-5
    width: 33.3%

  .added-product:before
    bottom: 10px

  .col-4
    width: 50%

  .select-sorting
    min-width: auto
    padding: 0 50px
    width: auto

  .product-card-row .product-card__title
    font-size: 30px

  .product-card-row .price
    font-size: 30px

  .product-card-row .product-card__salesman
    font-size: 20px

  .product-image__max, .product-image__min
    max-width: 420px

  .product-image__max-it
    height: 550px

  .product-wrapper-content, .comments-product
    width: calc(100% - 420px)


@media only screen and (max-width: 1260px)
  .payment
    width: 100%
    li
      height: 40px

  .copyright
    margin: 30px auto 10px
    width: 100%
    text-align: center

  .developer
    margin: 0 auto

  .footer-menu, .footer-menu .btn
    font-size: 14px

  .swiper-container .swiper-pagination-bullet
    width: 68px

  .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 18px 0 0

  .modal-question .modal-body
    padding: 40px 0 0

  .modal-question-text
    width: calc(100% - 300px)
    padding: 0 0 0 30px

  .modal-question-img
    max-width: 300px
    .image
      margin: 130px 0 0


@media only screen and (max-width: 1200px)
  .logo
    font-size: 30px

  .form-search
    max-width: 260px
    margin: 0 auto 0 10px
    input
      padding: 0 10px 0 46px
      height: 40px
      font-size: 14px

    button
      left: 15px
      width: 16px
      height: 16px

  header
    .btn
      height: 40px

  .btn
    font-size: 16px

  .menu
    font-size: 18px

  .links-category
    font-size: 18px

  .footer-box
    max-width: 100%
    .box-text
      text-align: center
      margin: 0 auto 20px
    .logo
      font-size: 36px
      text-align: center
      margin: 0 auto 20px
      justify-content: center

  .footer-menu
    padding: 0
    width: 100%
    justify-content: center
    li
      margin: 0 0 20px
      padding: 0

  .payment
    li
      margin: 0 15px 15px 0
      &:last-child
        margin: 0 0 15px

  .tabs__caption
    margin: 0 0 45px
    font-size: 16px
    li
      margin: 0 0 15px
      padding: 20px 15px

  .tabs-icon
    width: 80px
    height: 80px

  .category-box
    h4
      font-size: 18px

  .list-category
    font-size: 16px

  .modal__wrapper .logo
    font-size: 50px

  .modal__wrapper h3
    font-size: 24px

  .page-404 h1
    font-size: 40px

  .page-404
    h4
      font-size: 20px

  .page-500
    .page-404__content
      width: calc(100% - 400px)
      padding: 0 40px 0 0
    .page-404__img
      max-width: 400px

  .form-basket-payments
    width: 100%
    padding: 0
    margin: 30px 0 0

  .form-basket-products
    max-width: none
    .basket-card
      max-width: 98%

  .product-wrapper-content
    width: 100%
    padding: 0
    margin: 20px 0 0

  .product-image__max
    margin: 0 auto
    padding: 0
    &:before
      display: none

  .product-wrapper
    padding: 0 0 30px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 2px
      background: rgba(255, 255, 255, 0.2)
      border-radius: 20px
    h1
      width: 100%
      text-align: center
      font-size: 40px
      margin: 0 0 20px

  .product-wrapper__bottom
    justify-content: center

  .product-wrapper__head
    padding: 0 0 30px

  .product-wrapper__body
    padding: 30px 0 0
    flex-direction: column-reverse

  .product-wrapper__info
    padding: 0
    width: 100%

  .product-wrapper-two
    margin: 0
    .product-image__min
      display: none

  .block-preview-mobile
    display: block
    padding: 30px 0

  .characteristics-product
    max-width: none
    padding: 0 0 30px
    position: relative
    border-radius: 0
    background: transparent
    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 2px
      background: rgba(255, 255, 255, 0.2)
      border-radius: 20px

  .product-image__min

    max-width: none
    flex-wrap: nowrap
    .item
      width: 155px
      height: 100px
      margin: 0 10px 6px 0
      min-width: 155px

  .comments-product
    padding: 30px 0 0
    width: 100%
    h3
      max-width: none
      width: 100%
    .tabs__caption
      max-width: none
      width: 100%

  .product-wrapper__info .btn
    width: 100%

  .modal-title
    font-size: 40px

  .product-wrapper__bottom .btn.btn-report:last-child
    margin: 0

/* Medium Devices, Desktops */
@media only screen and (max-width: 1060px)
  .menu
    min-width: 1050px

  .header-bottom
    .container
      overflow-x: auto
      padding: 0 15px 15px

  .col-3
    width: 50%

@media only screen and (max-width: 992px)
  header
    .logo
      margin: 0 auto 0 0

  .search-result
    z-index: 6
    background: transparent

  .header-box, .btn-catalog
    display: none

  .btn-burger, .btn-open-search
    display: flex

  .form-search
    display: none

  .form-search-mobile
    max-width: none
    margin: 0 0 0 auto
    position: absolute
    top: 15px
    left: 50%
    transform: translate(-50%,0)
    background: #fff
    width: calc(100% - 30px)
    border-radius: 60px
    overflow: hidden
    input
      border: 2px solid #FFFFFF

      font-size: 12px
      font-weight: bold
      color: #1C1C1C
      &::placeholder
        color: #1C1C1C
    button
      fill: #2B2A29

  .header-top
    padding: 15px 0

  .footer-menu li
    width: 50%
    a
      text-align: left
    .btn
      background: transparent
      padding: 0
      height: auto
      color: #FFC608
      justify-content: flex-start
      &:hover
        color: #FFC608

  .footer-top
    padding: 20px 0 0

  .links-article
    font-size: 20px

  .tabs__caption
    font-size: 16px

  .tabs-icon
    width: 60px
    height: 60px
    margin: 0 auto 15px

  .col-5
    width: 50%

  .main-slider-item
    min-height: 640px
    max-height: 640px
    padding: 127px 0 106px
    display: flex
    flex-direction: column

  .main-slider .container
    height: 100%
    margin: auto auto 0

  .main-slider-title
    font-size: 40px

  .author
    font-size: 30px

  .swiper-container .swiper-pagination
    bottom: 40px
    justify-content: center
    
  .price
    font-size: 30px
    margin: 0 15px 0 0

  .sale
    margin: 0 15px 0 0
    width: 40px
    height: 40px
    font-size: 14px

  .search-result
    height: 100%
    padding: 150px 0

  .page-404__img
    max-width: 400px

  .page-404__content
    width: calc(100% - 400px)

  h1, .page-404 h1
    font-size: 30px

  .basket-fixed
    display: flex

  .sidebar
    display: none


  .dropdown-mobile
    padding: 20px 15px
    position: absolute
    left: 0
    top: -30px
    z-index: 2
    background: #1F2023
    max-width: none
    height: 100%
    width: 100%
    h2
      text-align: left
      margin: 0
      width: auto


  .catalog-content
    width: 100%
    padding: 0

  .tabs-group, .select-sorting
    display: none

  .breadcrumb
    margin: 0 0 30px
    width: 100%
    order: -1
    li
      &:first-child
        a
          &:before
            content: ''
            margin: 0 25px 0 0
            background: url("../img/arrow-left.svg") no-repeat center
              size: 100%
            width: 10px
            height: 18px
            display: flex
            align-items: center
            justify-content: center

  .sidebar-title
    display: flex

  .filter-result-scroll
    display: block

  .catalog-filter-mobile
    display: flex

  .catalog-tab.active
    display: block

  .catalog-tab
    display: none

  .btn-play
    display: none

  .form-comment-authorization
    padding: 20px
    p
      margin: 0 auto 20px
      width: 100%
      text-align: center
    .btn
      margin: 0 auto

  .bonus
    font-size: 20px

  .comment-box__text
    font-size: 18px

  .name-user
    font-size: 20px

  .date-comment
    font-size: 16px

  .modal-question-text
    width: 100%
    order: -1
    padding: 0

  .modal-question-img
    margin: 30px auto 0

  .modal-question-content
    flex-direction: column
    align-items: center

  .modal-title
    text-align: center

  .modal-question .product-wrapper__info
    margin: 30px auto 0

  .modal-question .modal__close
    width: 30px
    height: 30px

  .form-comment
    label
      width: 100%
      margin: 40px auto 20px
    textarea
      height: auto
    button.btn
      margin: 0 auto

  textarea
    font-size: 18px

  .product-wrapper__bottom .availability
    font-size: 20px

  .page-section
    padding: 180px 0 0

  .header-bottom
    padding: 15px 0 0

  .products-section-no-slider
    padding: 130px 0 0

  .btn-filter-save
    display: flex
    margin: 20px auto 0
    width: 100%
    height: 40px

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .col-3
    width: 100%

  .mb-40
    margin-bottom: 20px

  .tabs__caption
    font-size: 14px
    li
      width: 49%
      border-radius: 10px

  .modal-body .col-5
    width: 33.3%

  .category-box
    margin: 0 0 20px
    h4
      margin: 0 0 20px

  .list-category
    li
      margin: 0 0 10px


  .modal__wrapper
    padding: 30px

  .modal__wrapper .logo
    font-size: 40px

  .main-slider-title
    font-size: 30px

  .author
    margin: 0 0 15px
    font-size: 24px

  .page-404__content
    width: 100%
    padding: 0

  .page-404__img
    margin: 30px auto 0
    max-width: 300px

  .page-500
    .page-404__content
      padding: 0
      width: 100%

  .w-25
    width: 50%

  .w-50
    width: 100%

  .payment-box
    &:nth-child(1), &:nth-child(4), &:nth-child(8), &:nth-child(12)
      border-right: none
    &:nth-last-child(3), &:nth-last-child(4)
      border-bottom: 2px solid rgba(255, 255, 255, 0.2)

  .agreement
    margin: 40px auto 0

  .price-wrapper
    width: 100%
    margin: 0 auto 20px
    justify-content: center
    .price
      font-size: 36px

  .product-wrapper h1
    font-size: 22px


  .product-wrapper__bottom .availability, .btn-report
    display: none

  .availability.d-mobile
    display: block
    text-align: center

  .main-page-box
    width: 100%

  .h1-title
    font-size: 50px

  .list-row li
    margin: 0 20px 20px 0

  .btn-question
    display: none

  .header-bottom .container
    overflow-x: scroll

/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px)
  .product-card
    height: 300px
    margin: 0 0 20px
    border-radius: 10px
    &__img
      height: 190px
    &__body
      height: calc(100% - 190px)
      padding: 10px
    .btn
      width: 50px
      height: 30px
      padding: 0
      border-radius: 5px
      .btn-text
        display: none
      .svg-icon
        width: 18px
        height: 18px
        margin: 0
    &__title
      font-size: 10px
    &__salesman
      font-size: 10px
    .price
      font-size: 18px
    .sale
      width: 30px
      height: 30px
      font-size: 10px
      right: 10px
      bottom: 20px

  .btn-add-product
    background: #fff
    .svg-icon
      display: none
    &:before
      content: ''
      display: flex
      align-items: center
      justify-content: center
      background: url("../img/check.svg") no-repeat center
        size: 100%
      width: 16px
      height: 16px

  .modal__wrapper .logo
    width: 100%
    justify-content: center
    margin: 0 auto 10px

  .modal__wrapper h3
    margin: 0 auto

  .modal__wrapper
    padding: 40px 30px


  .modal__close
    position: absolute
    right: 20px
    top: 20px
    width: 20px
    height: 20px

  .modal-head
    padding: 0 0 10px

  .btn
    font-size: 14px
    height: 40px

  main .btn
    height: 40px

  .max-200, .max-400
    max-width: none

  .list
    justify-content: center
    li
      margin: 0 20px 20px 0
      &:last-child
        margin-right: 20px


@media only screen and (max-width: 576px)
  .logo
    font-size: 26px
    margin: 0

  .form-basket__title
    padding: 0 0 10px
    h3
      font-size: 20px

  .form-basket__total
    padding: 20px 10px
    flex-direction: column
    align-items: flex-start
    .btn
      margin: 20px 0 0

  .footer-menu
    font-size: 12px

  .copyright
    margin: 10px auto

  footer
    margin: 60px 0 0

  .news-card
    padding: 0
    &__body
      height: calc(100% - 185px)
      padding: 15px 20px 20px
    &__img
      height: 185px
      border-radius: 20px 20px 0 0
    &__title
      font-size: 20px
    .box-text
      font-size: 14px
      margin: 0 0 10px
    &__date
      margin: 10px 0

  h2
    font-size: 20px
    margin: 0 auto 20px

  .links-article
    font-size: 16px


  .d-mobile
    display: block

  .product-col
    display: none
    &:nth-child(-n+4)
      display: block

  .main-slider-item__bg
    min-width: 1160px
    left: -160px

  .search-result
    padding: 75px 0


  .search-result-wrapper
    .product-card
      min-width: 155px
      max-width: 155px
      height: 300px
      margin: 0 10px 10px 0
      border-radius: 10px
      &__img
        height: 190px
      &__body
        height: calc(100% - 190px)
        padding: 10px
      &__salesman
        font-size: 10px
      &__title
        font-size: 10px
        max-height: 26px
        overflow: hidden

  .links-prev
    margin: 0 0 20px
    font-size: 20px

  .links-prev__icon
    width: 30px
    height: 30px
    margin: 0 15px 0 0
    .svg-icon
      width: 8px
      height: 12px

  .page-section
    padding: 160px 0 0

  h1, .page-404 h1
    font-size: 20px
    margin: 0 auto 20px

  .form-basket
    .basket-card__img
      width: 80px
    .basket-card__body
      width: calc(100% - 80px)

  .form-basket__body
    padding: 20px

  .similar-products, .bonus
    display: none

  .comments-product
    h3
      display: none

  .title-mobile
    display: flex
    h3
      display: inline-block
      width: fit-content

  .comment-box
    position: relative
    &__photo
      position: absolute
      left: 0
      top: 0
      width: 60px
      height: 60px


  .comment-box-answer
    width: 100%

  .comment-box__body
    width: 100%
    padding: 0

  .comment-box__top
    padding: 0 0 0 80px
    flex-direction: column
    align-items: flex-start
    margin: 0 0 15px

  .comment-box-answer
    padding: 15px 0 0
    border: none
    position: relative
    &:before
      content: ''
      position: absolute
      right: 0
      top: 0
      height: 2px
      width: calc(100% - 80px)
      background: rgba(255, 255, 255, 0.2)
    .comment-box__photo
      top: 15px

  .name-user
    margin: 0 0 15px

  .product-wrapper__bottom
    flex-direction: column
    align-items: center
    .btn
      margin: 0 auto 10px
      padding: 0 30px

  .breadcrumb
    font-size: 14px

  .product-image__max-it
    height: 380px

  .h1, .h2, .h3
    font-size: 20px

  .h1-title
    font-size: 22px

  .title-game, .salesman-game
    font-size: 10px

  .price-game
    font-size: 18px

  .title-game-max
    font-size: 24px

  .salesman-game-max
    font-size: 20px

  .price-game-max
    font-size: 36px

  .list li
    margin: 0 10px 20px
    &:last-child
      margin: 0 10px 20px

  .catalog-content .product-card__body
    padding: 10px

  .product-wrapper__info-list
    max-height: 450px

  .menu li:last-child
    order: -1
    margin: 0 20px 0 0

  .menu li:nth-last-child(2)
    margin: 0

@media only screen and (max-width: 480px)
  .w-25
    width: 100%

  .payment-box
    border-right: none
    &:nth-last-child(2)
      border-bottom: 2px solid rgba(255, 255, 255, 0.2)

  .product-wrapper__info-list
    max-height: 500px

  .form-comment textarea
    margin: 0

  .page-404 .btn
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%,0)

  .page-404__img
    margin: 30px auto 60px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .modal-body .col-5
    width: 50%

  .modal__wrapper .logo
    font-size: 30px

  .modal__wrapper h3
    font-size: 20px

  .list-category
    font-size: 14px

  .category-box h4
    font-size: 16px
    margin: 0 0 10px


  .modal-body
    padding: 20px 0 0

  .modal__wrapper
    padding: 30px


@media only screen and (max-width: 380px)
  .main-slider-item__bottom
    max-width: 300px
    .btn
      margin: 15px 0 0

@media only screen and (max-width: 350px)
  .product-card
    height: 320px

  main .btn
    margin: 10px 0 0

  .product-wrapper__info-list
    max-height: 550px



