@import "fonts"
@import "vars"

//.page-section
.page-section
  padding: 220px 0 0

.page-404
  padding: 260px 0 0
  h1
    font-size: 60px
  .container
    align-items: center
  &__img
    max-width: 504px
    display: flex
    align-items: center
    justify-content: center
  &__content
    width: calc(100% - 504px)
    padding: 0 23px 0 0
    text-align: center
    h4
      font-size: 30px
      font-weight: 600
  .btn
    margin: 0 auto
    height: 60px
    max-width: 224px
    width: 100%

.page-500
  margin: 80px 0 40px
  .page-404__img
    max-width: 696px
  .page-404__content
    padding: 0 134px 0 0
    width: calc(100% - 696px)

//page
.main-page
  .container
    align-items: flex-start
    justify-content: space-between

.main-page-box
  width: 45%

.h1
  text-align: left
  margin: 0

.h1-title
  font-size: 64px
  font-weight: bold
  margin: 0
  text-align: left

.h2
  text-align: left
  margin: 0

.h3
  font-size: 26px
  font-weight: 500

.h4
  font-size: 20px
  font-weight: 600

.box-text-main
  font-size: 15px
  font-weight: 500

.title-game
  font-size: 18px
  font-weight: bold

.salesman-game
  font-weight: 500
  font-size: 16px

.price-game
  font-size: 24px
  font-weight: bold

.title-game-max
  font-size: 36px

.salesman-game-max
  font-size: 28px

.price-game-max
  font-size: 40px

.list
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between
  li
    width: 120px
    height: 120px
    background: $accent
    margin: 0 0 20px 0
    border-radius: 20px
    &:last-child
      margin-right: 0

.max-400
  max-width: 400px

.max-200
  max-width: 200px

.list-col
  display: flex
  flex-direction: column
  align-items: flex-start
  li
    width: 100%
    height: 90px
    background: #fff
    border-radius: 20px


.mb-20
  margin-bottom: 20px

.ml-auto
  margin-left: auto

.list-row
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between
  li
    margin: 0 40px 20px 0
    width: 90px
    height: 200px
    background: #fff
    border-radius: 20px
    &:last-child
      margin-right: 0